<h4>Saved Papers</h4>
<mat-accordion>
    <mat-expansion-panel hideToggle *ngFor="let i of [1,2,3]">
        <mat-expansion-panel-header>
            <mat-panel-title>
                8th Maths
            </mat-panel-title>
            <mat-panel-description>
                First Block                         
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div>
            <p>No of questions: 20</p>
            <p>Marks: 40</p>
            <p>Duration: 1 Hr</p>
            <p>Share Link: https://paperabsolute.com/shared/31</p>
            <p>Pin: 2121</p>
            <p>Create on 19_10_07_December_2020</p>
        </div>
        </mat-expansion-panel>
</mat-accordion>

<app-bottom-nav>
    <a type="button" routerLink='/scheme/stepa' class="btn btn-primary btn-lg float-left">
        <span class="fa fa-arrow-right text-light" data-toogle="tooltip"></span>
    </a>
</app-bottom-nav>