<span>Choose Chapters</span>
<mat-card *ngFor="let chapter of chapters; let i=index;">
        <mat-checkbox [(ngModel)]="selectedChapters[chapter.id]" (change)="update()"
        [ngModelOptions]="{standalone: true}" [disabled]="checkDisabled(i)"
        (click)="[displayPopUp(i)]"
        >{{chapter.chapter}}</mat-checkbox>
</mat-card>

<app-bottom-nav>

    <a type="button" routerLink='/scheme/chikoo' class="btn btn-primary btn-lg float-left">
         <span class="fa fa-arrow-right text-light" data-toogle="tooltip"></span>
    </a>
     
</app-bottom-nav>