<p>Questions List</p>
<div *ngFor="let question of questionsList; let i = index" (mouseover)="hideBud[i]=false"
    (mouseout)="hideBud[i]=true" class="border bottom-bar breadcrumb">
    <app-question [question]="question"></app-question>
    <!-- bud controls hides or shows via [hideBud] property -->
    <div [hidden] = "!isThisBudShown(i)"
        class="btn-block btn-group btn-group-sm" >
        <a (click)="changeQuestion(i)" class="btn btn-outline-primary"><span class="fa fa-refresh"></span></a>
        <a class="btn btn-outline-primary"><span class="fa fa-list"></span></a>
        <a class="btn btn-outline-primary"><span class="fa fa-pencil"></span></a>
        <a class="btn btn-outline-primary"><span class="fa fa-warning"></span></a>
    </div>
    <hr>
</div>

<app-bottom-nav>

    <a type="button" routerLink='/scheme/chikoo' class="btn btn-primary btn-lg float-left">
        <span class="fa fa-arrow-right text-light" data-toogle="tooltip"></span>
    </a>
    <a type="button" (click)="reloadQuestions()" class="btn btn-primary btn-lg float-left">
        <span class="fa fa-refresh text-light" data-toogle="tooltip"></span>
    </a>

</app-bottom-nav>