<p>Questions List</p>
<div [hidden]="showErrorComponent_q">
    <div *ngFor="let question of questionsList; let i = index" (mouseover)="showBud[i]=true"
        (mouseout)="showBud[i]=false" class="border bottom-bar breadcrumb" mathjax>

        <strong>({{i+1}})&nbsp;</strong>
        <app-question [attr.contenteditable]="edit==i" [question]="question" [class.bg-light]="edit==i"></app-question>

        <!-- bud controls hides or shows via [hideBud] property -->
        <div [hidden]="isBudHidden(i)" class="btn-block btn-group btn-group-sm">
            <a (click)="changeQuestion(question,i)" class="btn btn-outline-primary"><span
                    class="fa fa-refresh"></span></a>
            <a class="btn btn-outline-primary"><span class="fa fa-list"></span></a>
            <a (click)="toggleEdit(i)" class="btn btn-outline-primary"><span class="fa fa-pencil"></span></a>
            <a (click)="showErrorComponent_q=true; errorQuestionID = question.id" class="btn btn-outline-primary"><span class="fa fa-warning"
                ></span></a>
        </div>
        <hr>
    </div>
</div>

<!-- The Modal -->
<div [hidden]="!showErrorComponent_q">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Correction</h4>
                <button (click)="showErrorComponent_q=false" type="button" class="close">&times;</button>
            </div>

            <app-error-report [questionID]="errorQuestionID"></app-error-report>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button (click)="showErrorComponent_q=false" type="button" class="btn btn-danger" data-dismiss="modal">
                    Close</button>
            </div>

        </div>
    </div>
</div>

<app-bottom-nav>

    <a type="button" routerLink='/scheme/chikoo' class="btn btn-primary btn-lg float-left">
        <span class="fa fa-arrow-right text-light" data-toogle="tooltip"></span>
    </a>
    <a type="button" (click)="reloadQuestions()" class="btn btn-primary btn-lg float-left">
        <span class="fa fa-refresh text-light" data-toogle="tooltip"></span>
    </a>

</app-bottom-nav>