<div class="col-12">

    <!-- test name and pin -->
    <form id="">
        <div class="form-group">
            <label></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Name</div>
                </div>
                <input id="name" name="name" placeholder="Test Paper Name" type="text" required="required"
                    class="form-control">
            </div>
        </div>

        <mat-accordion>
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        PIN
                    </mat-panel-title>
                    <mat-panel-description>
                        Set pin password                           
                    </mat-panel-description>
                </mat-expansion-panel-header>
                Empty pin means no pin is required to open test.
                <input id="pin" name="pin" placeholder="Numeric Pin Password" type="text" class="form-control">
            </mat-expansion-panel>
        </mat-accordion>


       

    </form>
    <hr>
<!-- scheme -->
<button (click)="openDateTimeDialog()">Open</button>
    
    <scheme-test-details></scheme-test-details>
<hr>
    <scheme-conset></scheme-conset>
</div>

<app-bottom-nav></app-bottom-nav>