<div class="col-12">

    <!-- test name and pin -->
    <form id="">
        <div class="form-group">
            <label></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Name</div>
                </div>
                <input id="name" name="name" placeholder="Test Paper Name" type="text" required="required"
                    class="form-control">
            </div>
        </div>

        <div class="form-group">
            <div>
                <div class="custom-control custom-checkbox custom-control-inline">
                    <input [(ngModel)]="pinChecked" name="pin-check" id="pin-check_0" type="checkbox"
                        class="custom-control-input" value="pin-password" aria-describedby="pin-checkHelpBlock">
                    <label for="pin-check_0" class="custom-control-label">Pin</label>
                </div>
                <span id="pin-checkHelpBlock" class="form-text text-muted">If unchecked, students can open this test
                    without passowrd.</span>
            </div>
        </div>


        <div [hidden]="!pinChecked" class="form-group">
            <label></label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-asterisk"></i>
                    </div>
                </div>
                <input id="pin" name="pin" placeholder="Numeric Pin Password" type="text" class="form-control">
            </div>
        </div>

    </form>
    <hr>
<!-- scheme -->
    <scheme-test-details></scheme-test-details>

    <scheme-conset></scheme-conset>
</div>

<app-bottom-nav></app-bottom-nav>