<span>Choose Chapters</span>
<h3>Custom MCQ Test</h3>
<p>Choose chapters and no of Questions</p>

<div>
  <table class="table" id="noTable">
    <tr>
      <th>Chapter</th>
      <th>Questions No.</th>
      <th>Remove</th>
    </tr>
    <tr *ngFor="let chapter of st.chaptersTray">
      <td>{{chapter.chapter}}</td>
      <td>
        <input min='1' max='100' type='number' class="form-control" 
        [value]='5' (change)='questionsNoChanged()'
        ></td>
      <td><span class="fa fa-times" (click)="trayToBag(chapter.id)"></span></td>
    </tr>
  </table>
</div>

<select #selectedChapterElem class="form-control" (change)="bagToTray(selectedChapterElem)">
  <option>Choose A Chapter</option>
  <option *ngFor="let chapter of st.chaptersBag" [value]="chapter.id">{{chapter.chapter}}</option>
</select>


<app-bottom-nav>
  <a type="button" routerLink='/scheme/chikoo' class="btn btn-primary btn-lg float-left">
    <span class="fa fa-arrow-right text-light" data-toogle="tooltip"></span>
  </a>
</app-bottom-nav>