<!-- container div to render mathjax directive -->
<div>
  <span class="math-container" [innerHTML]="_(question_question.question[0])"></span>
  <!-- <strong>JSON</strong> {{jp(question.question) | json}} -->
  <br>

  <div [ngSwitch]='question.category_id'>
    <!-- MCQ QUESTIONS -->
    <div *ngSwitchCase='1'>
      <strong>Options</strong><br>
      A<span class="math-container" [innerHTML]="_(question_question.option['a'])"></span>
      B<span class="math-container" [innerHTML]="_(question_question.option['b'])"></span>
      C<span class="math-container" [innerHTML]="_(question_question.option['c'])"></span>
      D<span class="math-container" [innerHTML]="_(question_question.option['d'])"></span>    
    </div>
    
    <!-- TRUE AND FALSE -->
    <div *ngSwitchCase='4' class="math-container">
      <span>{{jp(question.answer).answer[0]}}</span>
    </div>
  </div>
</div>