<!-- container div to render mathjax directive -->
<div>
  <span class="math-container"  mathjax  [innerHTML]="question_question.question[0] | safe : 'html'">
      
  </span>
  <!-- <strong>JSON</strong> {{jp(question.question) | json}} -->
  <br>

  <div [ngSwitch]='question.category_id'>
    <!-- MCQ QUESTIONS -->
    <div *ngSwitchCase='1'>
      <strong>Options</strong><br>
      A<span class="math-container" [innerHTML]="question_question.option['a'] | safe : 'html'"></span>
      B<span class="math-container" [innerHTML]="question_question.option['b'] | safe : 'html'"></span>
      C<span class="math-container" [innerHTML]="question_question.option['c'] | safe : 'html'"></span>
      D<span class="math-container" [innerHTML]="question_question.option['d'] | safe : 'html'"></span>    
    </div>
    
    <!-- TRUE AND FALSE -->
    <div *ngSwitchCase='4' class="math-container">
      <span class="math-container" [innerHTML]="question_answer.answer[0] | safe : 'html'">
      </span>
    </div>
  </div>
</div>