html,head,body {
    height: 100%;
}

#content{ height: 100%;}

.row.content.above-bar{
    height: calc( 100% - 3em);
}
.row.content.above-bar>div{
    padding: 0px 0px 0 0;
}

.bottom-bar{
    height: 3em;
}

mat-sidenav-container{
    position: inherit;
}