<div class="container-fluid" id="content">
    <div class="row content above-bar">
        <div class="col-12">
            <div class="app-content">
                <mat-sidenav-container class="example-container">
                    <mat-sidenav #sidenav mode="over" (menuToggle)='menuToggle(sidenav)'>
                        <a>Menu</a>
                        <hr>
                        <a routerLink='login'>Login.</a><br>
                        <a routerLink='options'>Options</a><br>
                        <a routerLink='exam-choice'>Exam Choice</a><br>
                        <a routerLink='scheme'>Scheme</a><br>
                        <a routerLink='scheme/chapcil'>Chapter selection</a><br>
                        <a routerLink='scheme/chikoo'>Q List</a>
                    </mat-sidenav>
                    <mat-sidenav-content>
                        <!-- Menu button -->
                        <button class="btn" (click)="sidenav.toggle()">
                            <span class="fa fa-bars"></span>
                        </button>
                            <!-- TopStaBa: App top status bar   START -->
                            <div style="display: inline;">
                                <span class="fa fa-car"></span>
                                <span class="fa fa-address-book float-right p-1"></span>
                                <span class="fa fa-bell"></span>
                                <a routerLink='exam-choice'>{{examChoiceName}}</a>
                            </div>
                            <!-- TopStaBa:  App top status bar    END -->                            
                            <router-outlet></router-outlet>
                            <alert></alert>
                                                     
                    </mat-sidenav-content>
                </mat-sidenav-container>
            </div>
        </div>
    </div>
    <button mat-raised-button>hello</button>
    <!-- blank placeholder to accomodate app-nav -->
    <div class="row bottom-bar">        
    </div>   
</div>
<notifier-container></notifier-container>