<br>
<table class="table table-striped">
    <tr>
        <th *ngFor="let heading of st.arrayTable[0]">{{heading.split('_')[0]}}</th>
    </tr>
    <tr *ngFor="let row of st.arrayTable[1]" (click)="add()">
        <td *ngFor="let no of row">{{ no }}</td>        
    </tr>
</table>
<button (click)="addRow()">Add</button>


<app-bottom-nav>    
    <a  type="button" routerLink='/scheme/chikoo'
    class="btn btn-primary btn-lg float-left">
     <span class="fa fa-arrow-right text-light" ></span>
    </a> 
</app-bottom-nav>
 