<span class="alert d-inline-flex h3 modal-dialog" style="background: #007bff29;"
>Blue Print</span>
<br>
<table class="table table-striped">
    <tr>
        <th *ngFor="let heading of st.arrayTable[0]">{{heading.split('_')[0] | uppercase}}</th>
    </tr>
    <tr *ngFor="let row of st.arrayTable[1]" (click)="add()">
        <td *ngFor="let no of row">{{ no }}</td>        
    </tr>
</table>
<button (click)="addRow()"
mat-fab color="primary" aria-label="Example icon button with a bookmark icon">
    <mat-icon>add</mat-icon>
  </button>


<app-bottom-nav>    
    <a  type="button" routerLink='/scheme/chikoo'
    class="btn btn-primary btn-lg float-left">
     <span class="fa fa-arrow-right text-light" ></span>
    </a> 
</app-bottom-nav>
 