<mat-card class="card">
    <mat-card-title>Date and Time</mat-card-title>
    <mat-checkbox [(ngModel)]="resultInstantCheck_q" (ngModelChange)="getResultDate()">
        {{ (resultInstantCheck_q) ? 'Instant': 'Scheduled'}} Result</mat-checkbox>
    <p [hidden]="resultInstantCheck_q">{{resultDate | date: 'medium'}}</p>


    <mat-card-content>
        <button mat-button (click)="getTestDate()">Test Date {{testDate | date: 'medium'}}</button>
        <div>
            <span class="badge-pill h6" style="vertical-align: -webkit-baseline-middle;">Duration</span>
            <app-number-spinner (getValue)="getValue($event)" [step]="15" [min]="15" [max]="240"></app-number-spinner>
            <span class="badge-pill h6" style="vertical-align: -webkit-baseline-middle;">Minutes</span>
        </div>
    </mat-card-content>
</mat-card>