
<mat-card class="card">
    <mat-card-title>Conset</mat-card-title>
    <app-checkbox label='Result instant checked' [(checked)]="resultInstantCheck_q"></app-checkbox>
    

    <mat-form-field *ngIf="!resultInstantCheck_q" appearance="fill">
        <mat-label>Set date and time for result decleration</mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <ngb-timepicker [(ngModel)]="resultTime" [minuteStep]="5" meridian="meridian"></ngb-timepicker>
    </mat-form-field>

    <hr>

    <mat-card-content>
        Test Time<br>
        <mat-form-field appearance="fill">
            <mat-label>Test date and time</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <ngb-timepicker [(ngModel)]="time" [minuteStep]="5" meridian="meridian"></ngb-timepicker>

        </mat-form-field><br>
        <div class="card-header" style="width: 237px;">
            Duration<ngb-timepicker [(ngModel)]="timeDuration" [minuteStep]="10"></ngb-timepicker>
        </div>        
    </mat-card-content>
</mat-card>

