<mat-card class="card">
    <mat-card-title> JEE Single chapter</mat-card-title>
    <mat-card-content>
        ID <span>21</span><br>
        Description <span>This scheme contains 30 MCQ Questions</span>
    </mat-card-content>
</mat-card>

<mat-card class="card">
    <mat-card-title> Author </mat-card-title>
    <mat-card-content>
        Name<span>Varun Sharma</span><br>
        email <span>varuninorbit@gmail.com</span>
    </mat-card-content>
</mat-card>

<mat-card class="card">
    <mat-card-title>Instructions</mat-card-title>
    <mat-card-content>
        <span>Attemp all question</span><br>
        <span>The delay is submission will not be considered</span>
    </mat-card-content>
</mat-card>

<mat-card class="card">
    <mat-card-title> Marking Rules </mat-card-title>
    <mat-card-content>
        MCQ<span>Right +3 Wrong -1</span><br>
        True and False<span>Right +1 wrong -1</span>
    </mat-card-content>
</mat-card>