<div class="form-group">
    <div>
        <div class="custom-control custom-checkbox custom-control-inline">
            <input [(ngModel)]="checked" name="result-instant-check-check"
                id="result-instant-check-check_0" type="checkbox" class="custom-control-input"
                value="checked" aria-describedby="result-instant-check-checkHelpBlock">
            <label for="result-instant-check-check_0" class="custom-control-label">result-instant-check</label>
        </div>
    </div>
</div>
