<span>Schemes</span>

<mat-accordion>
    <mat-expansion-panel hideToggle [class]="{'selected-expansion':isSelected(scheme.id)}"
    (click)="select(scheme)"
    *ngFor="let scheme of schemes">
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{scheme.name}}
        </mat-panel-title>
        <mat-panel-description>
            {{scheme.description}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>This is the primary content of the panel.</p>
    </mat-expansion-panel>
    
  </mat-accordion>

<app-bottom-nav>    
   <a *ngIf="nextIsEnabled()" type="button" routerLink='/scheme/chapcil' class="btn btn-primary btn-lg float-left">
    <span class="fa fa-arrow-right text-light" data-toogle="tooltip"></span>
   </a> 
    <a *ngIf="!nextIsEnabled()" type="button" (click)="notify()" class="btn btn-primary btn-lg float-left">
             <span class="fa fa-arrow-right text-light" data-toogle="tooltip"></span>
    </a>    
 </app-bottom-nav>

    
  