<span>Schemes</span>

<mat-card *ngFor="let scheme of schemes">
    <mat-card-title> {{scheme.name}}</mat-card-title>
    <mat-card-content>
    ID <span>{{scheme.id}}</span><br>
    Description <span>{{scheme.name}}</span>
    </mat-card-content>
</mat-card>
<!-- 
    TODO
    Select a scheme
    After clicking next button chapter selection should appear
 -->


 <app-bottom-nav>

   <a type="button" routerLink='chapcil' class="btn btn-primary btn-lg float-left">
        <span class="fa fa-arrow-right text-light" data-toogle="tooltip"></span>
    </a>
    
 </app-bottom-nav>

            

    
  