<span>Schemes</span>

<mat-card (click)="select(scheme)" *ngFor="let scheme of schemes" class="card" 
    [class]="{'select-highlighted':isSelected(scheme.id)}">
    <mat-card-title> {{scheme.name}}</mat-card-title>
    <mat-card-content>
    ID <span>{{scheme.id}}</span><br>
    Description <span>{{scheme.name}}</span>
    </mat-card-content>
</mat-card>

<app-bottom-nav>
    <a *ngIf="nextIsEnabled()" type="button" routerLink='/scheme/chapcil' class="btn btn-primary btn-lg float-left">
         <span class="fa fa-arrow-right text-light" data-toogle="tooltip"></span>
    </a> 
    <a *ngIf="!nextIsEnabled()" type="button" (click)="notify()" class="btn btn-primary btn-lg float-left">
             <span class="fa fa-arrow-right text-light" data-toogle="tooltip"></span>
    </a>    
 </app-bottom-nav>

    
  