<h1></h1>

  <mat-form-field appearance="fill">
    <mat-label>Chapter</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Category</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field>
<br>

<mat-card-content>
  <mat-label>Marks</mat-label>
  <div>
    <app-number-spinner 
    [step]="1" [min]="1" [max]="10" [start]="1"></app-number-spinner>
  </div>
</mat-card-content>
  

