/* You can add global styles to this file, and also import other style files */
@import "~angular-notifier/styles";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.select-highlighted{
    background-color: #007bffe6;
    color: white;
}

.edit{
    background: white;
    border: 2px solid chartreuse;
}


.primary-color {
  color: #007bff
}


fab-bottom-right {
  position: fixed !important;
  right: 15px;
  /* Add this and change value to set the margin you want */
}
